html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  background-color: #ffffff;
  color: #212121;
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
p {
  margin: 0;
}

.logo {
  display: block;
  color: #000000;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.title {
  /*From section: WHAT WE DO, OUR TEAM, REGULAR CUSTOMERS */
  margin-top: 0;
  margin-bottom: 50px;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
@media screen and (max-width: 1199px) {
  .title {
    margin-bottom: 30px;
  }
}

.link {
  text-decoration: none; /* Removing the underline form a link */
}

.list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.button.primary {
  background-color: #2196f3;
  color: #ffffff;
  font-family: inherit;
  border: 1px solid transparent;
}
.button.secondary {
  background-color: #ffffff;
  color: #2196f3;
  font-family: inherit;
  border: 1px solid transparent;
}

body.modal-open {
  overflow: hidden;
}

.menu-wrapper .navigation-list-link {
  display: block;
  color: #212121;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms linear;
  transition: color 250ms linear;
}

.header {
  background-color: #ffffff;
}
@media screen and (min-width: 1200px) {
  .header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    z-index: 999;
  }
}
.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 15px;
  padding-right: 15px;
}
.header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 15px;
  padding-bottom: 15px;
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
}
@media screen and (min-width: 768px) {
  .header .logo {
    padding-top: 26px;
    padding-bottom: 26px;
    margin-right: 82px;
  }
}
@media screen and (min-width: 1200px) {
  .header .logo {
    margin-right: 102px;
  }
}

.logo > span {
  color: #2196f3;
}

@media screen and (max-width: 767px) {
  .menu-button {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    overflow-y: scroll;
    z-index: 100;
  }
  .menu-button .icon-close {
    display: none;
  }
  .menu-button.is-open .icon-close {
    display: block;
  }
  .menu-button.is-open .icon-menu {
    display: none;
  }
  .menu-button:hover .icon-menu {
    fill: #2196f3;
    -webkit-transition: background-color 250ms linear;
    transition: background-color 250ms linear;
  }
  .menu-button:hover .icon-close {
    fill: #2196f3;
    -webkit-transition: background-color 250ms linear;
    transition: background-color 250ms linear;
  }
  .menu-button:focus .icon-menu {
    fill: #2196f3;
    -webkit-transition: background-color 250ms linear;
    transition: background-color 250ms linear;
  }
  .menu-button:focus .icon-close {
    fill: #2196f3;
    -webkit-transition: background-color 250ms linear;
    transition: background-color 250ms linear;
  }
}
@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-wrapper {
  width: 100%;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 48px;
  padding-right: 83px;
  padding-bottom: 48px;
  padding-left: 40px;
  background-color: #ffffff;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: -webkit-transform 500ms linear;
  transition: -webkit-transform 500ms linear;
  transition: transform 500ms linear;
  transition: transform 500ms linear, -webkit-transform 500ms linear;
  z-index: 99;
}
@media screen and (min-width: 768px) {
  .menu-wrapper {
    position: static;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0;
    margin: 0;
  }
}
.menu-wrapper.is-open {
  display: block;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
@media screen and (min-width: 768px) {
  .menu-wrapper.is-open {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .menu-wrapper .navigation {
    margin-bottom: 302px;
  }
}
@media screen and (min-width: 768px) {
  .menu-wrapper .navigation {
    margin-right: 82px;
  }
}
@media screen and (min-width: 1200px) {
  .menu-wrapper .navigation {
    margin-right: 305px;
  }
}
@media screen and (min-width: 768px) {
  .menu-wrapper .navigation-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media screen and (max-width: 767px) {
  .menu-wrapper .navigation-list-item:not(:last-child) {
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 768px) {
  .menu-wrapper .navigation-list-item:not(:last-child) {
    margin-right: 50px;
  }
}
@media screen and (min-width: 768px) {
  .menu-wrapper .navigation-list-link {
    padding-top: 32px;
    padding-bottom: 32px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
  .menu-wrapper .navigation-list-link.link-active {
    padding-bottom: 0px;
  }
  .menu-wrapper .navigation-list-link.link-active::after {
    display: block;
    margin-top: 28px;
    width: 100%;
    height: 4px;
    content: "";
    background-color: #2196f3;
    border-radius: 2px;
  }
}
.menu-wrapper .navigation-list-link:hover, .menu-wrapper .navigation-list-link:focus {
  color: #2196f3;
}
.menu-wrapper .navigation-list-link.link-active {
  color: #2196f3;
}
@media screen and (max-width: 767px) {
  .menu-wrapper .auth-list {
    margin-bottom: 64px;
  }
}
@media screen and (min-width: 768px) {
  .menu-wrapper .auth-list {
    padding-top: 21px;
    padding-bottom: 21px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}
@media screen and (min-width: 1200px) {
  .menu-wrapper .auth-list {
    padding: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
.menu-wrapper .auth-list .auth-list-item {
  display: block;
  width: auto;
}
@media screen and (max-width: 767px) {
  .menu-wrapper .auth-list .auth-list-item:not(:last-child) {
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 768px) {
  .menu-wrapper .auth-list .auth-list-item:last-child {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .menu-wrapper .auth-list .auth-list-item:last-child {
    margin-bottom: 0px;
    margin-right: 30px;
  }
}
.menu-wrapper .auth-list .auth-list-item .auth-list-link {
  display: block;
  color: #757575;
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 1.17;
  letter-spacing: 0.02em;
}
@media screen and (min-width: 768px) {
  .menu-wrapper .auth-list .auth-list-item .auth-list-link {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
  .menu-wrapper .auth-list .auth-list-item .auth-list-link:hover, .menu-wrapper .auth-list .auth-list-item .auth-list-link:focus {
    color: #2196f3;
  }
}
@media screen and (min-width: 1200px) {
  .menu-wrapper .auth-list .auth-list-item .auth-list-link {
    padding-top: 32px;
    padding-bottom: 32px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
}
@media screen and (max-width: 767px) {
  .menu-wrapper .auth-list .auth-list-item .auth-list-link.telephone {
    color: #2196f3;
  }
}
.menu-wrapper .auth-list .auth-list-item .auth-list-link-icon {
  fill: currentColor;
}
@media screen and (max-width: 767px) {
  .menu-wrapper .auth-list .auth-list-item .auth-list-link-icon {
    display: none;
  }
}
.menu-wrapper .header-socials-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (min-width: 768px) {
  .menu-wrapper .header-socials-list {
    display: none;
  }
}
.menu-wrapper .header-socials-list .header-socials-list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.menu-wrapper .header-socials-list .header-socials-list-item:not(:last-child) {
  margin-right: 20px;
}
.menu-wrapper .header-socials-list .header-socials-list-item:not(:last-child)::after {
  position: absolute;
  top: 50%;
  left: 100%;
  content: "";
  display: block;
  width: 22px;
  height: 1px;
  padding: 0px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
.menu-wrapper .header-socials-list .header-socials-list-item .header-socials-list-item-link {
  display: block;
  color: #2196f3;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.22;
  letter-spacing: 0.02em;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.footer .logo {
  margin-bottom: 20px;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .footer .footer-column-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (max-width: 1199px) {
  .footer .footer-column-first {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer .footer-column-first {
    margin-right: 165px;
  }
}
@media screen and (min-width: 1200px) {
  .footer .footer-column-first {
    margin-right: 70px;
    text-align: start;
  }
}
.footer .footer-column-first .contacts-address {
  display: inline-block;
  margin-bottom: 9px;
  color: #ffffff;
}
.footer .footer-column-first .contacts-address:hover, .footer .footer-column-first .contacts-address:focus {
  color: #2196f3;
}
@media screen and (max-width: 767px) {
  .footer .footer-column-first .contacts-address {
    margin-bottom: 20px;
  }
}
.footer .footer-column-first .contacts-mail {
  display: inline-block;
  margin-bottom: 9px;
  color: #757575;
}
.footer .footer-column-first .contacts-mail:hover, .footer .footer-column-first .contacts-mailfocus {
  color: #2196f3;
}
@media screen and (max-width: 767px) {
  .footer .footer-column-first .contacts-mail {
    margin-bottom: 20px;
  }
}
.footer .footer-column-first .contacts-tel {
  display: inline-block;
  color: #757575;
}
.footer .footer-column-first .contacts-tel:hover, .footer .footer-column-first .contacts-telfocus {
  color: #2196f3;
}

@media screen and (min-width: 1200px) {
  .form-subscribe {
    padding-top: 12px;
  }
}

@media screen and (max-width: 1199px) {
  .footer-column-second {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 768px) {
  .footer-column-second {
    padding-top: 12px;
  }
}

.footer-title {
  display: block;
  margin-bottom: 20px;
  color: #ffffff;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
@media screen and (min-width: 1200px) {
  .footer-title {
    text-align: start;
  }
}

.footer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-list-item:not(:last-child) {
  margin-right: 10px;
}

.footer-list-item-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  fill: #ffffff;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color 250ms linear;
  transition: background-color 250ms linear;
}
.footer-list-item-link:hover, .footer-list-item-link:focus {
  background-color: #2196f3;
}

.form-subscribe-input {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
  height: 50px;
  border-radius: 4px;
  border: 0px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.6);
  color: #ffffff;
}
@media screen and (max-width: 1199px) {
  .form-subscribe-input {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 480px) {
  .form-subscribe-input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .form-subscribe-input {
    width: 358px;
    margin-right: 12px;
  }
}

.modal-form-input:not(:-moz-placeholder-shown) + .modal-form-label, .modal-form-textarea:not(:-moz-placeholder-shown) + .modal-form-label.textarea {
  top: -4px;
  left: 19px;
  transform: translateY(-100%);
  font-size: 12px;
  color: #2196f3;
}

.modal-form-input:not(:-ms-input-placeholder) + .modal-form-label, .modal-form-textarea:not(:-ms-input-placeholder) + .modal-form-label.textarea {
  top: -4px;
  left: 19px;
  transform: translateY(-100%);
  font-size: 12px;
  color: #2196f3;
}

.modal-form-input:focus + .modal-form-label, .modal-form-input:not(:placeholder-shown) + .modal-form-label, .modal-form-textarea:focus + .modal-form-label.textarea, .modal-form-textarea:not(:placeholder-shown) + .modal-form-label.textarea {
  top: -4px;
  left: 19px;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  font-size: 12px;
  color: #2196f3;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  opacity: 1;
  overflow-y: scroll;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.9);
          transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 3250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 3250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 3250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 3250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 3250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: calc(100% - 30px);
  height: 609px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.modal-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 40px;
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.close-btn-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.close-btn-icon:hover {
  fill: #2196f3;
}

.modal-form-title {
  margin-bottom: 30px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
}

.modal-form-input-wrapper,
.modal-form-textarea-wrapper {
  position: relative;
  display: block;
  margin-bottom: 28px;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  padding-top: 12px;
  padding-right: 42px;
  padding-bottom: 12px;
  padding-left: 42px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
}
@media screen and (min-width: 1200px) {
  .modal-form-input {
    width: 448px;
    height: 40px;
  }
}
.modal-form-input:focus {
  outline: none;
  border-color: #2196f3;
}

.modal-form-label {
  position: absolute;
  top: 50%;
  left: 42px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #757575;
  -webkit-transition: -webkit-transform 250ms linear;
  transition: -webkit-transform 250ms linear;
  transition: transform 250ms linear;
  transition: transform 250ms linear, -webkit-transform 250ms linear;
}
.modal-form-label.textarea {
  top: 12px;
  left: 19px;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.modal-form-textarea:not(:focus) + .modal-form-label.textarea {
  color: #757575;
}
.modal-form-input:not(:focus) + .modal-form-label {
  color: #757575;
}
.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 19px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.modal-form-input:focus ~ .modal-form-icon {
  fill: #2196f3;
}

.modal-form-textarea-wrapper {
  margin-bottom: 20px;
}

.modal-form-textarea {
  width: 100%;
  height: 120px;
  padding-top: 12px;
  padding-right: 16px;
  padding-bottom: 12px;
  padding-left: 12px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  resize: none;
}
@media screen and (min-width: 1200px) {
  .modal-form-textarea {
    width: 448px;
    height: 120px;
  }
}
.modal-form-textarea:focus {
  outline: none;
  border-color: #2196f3;
}

.modal-form-option-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .modal-form-option-wrapper {
    margin-left: 13px;
  }
}

.modal-form-checkbox {
  position: absolute;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.checkbox-icon {
  margin-right: 7px;
  width: 16px;
  height: 15px;
  border: 2px solid #000000;
  border-radius: 2px;
}
.modal-form-checkbox:checked + .checkbox-icon {
  border-color: transparent;
  background-color: #2196f3;
  background-image: url("../img/modal/icon-check.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.modal-form-option-span {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #757575;
}
@media screen and (min-width: 1200px) {
  .modal-form-option-span {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
}

.modal-form-option-link {
  color: #2196f3;
}

.modal-button {
  width: 200px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  padding: 10px 55px;
  text-align: center;
  cursor: pointer;
}

.form-subscribe-title {
  margin-bottom: 20px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
@media screen and (min-width: 1200px) {
  .form-subscribe-title {
    text-align: start;
  }
}

.form-subscribe-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 1199px) {
  .form-subscribe-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.form-subscribe-input {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
  height: 50px;
  border-radius: 4px;
  border: 0px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.6);
  color: #ffffff;
}
@media screen and (max-width: 1199px) {
  .form-subscribe-input {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 480px) {
  .form-subscribe-input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .form-subscribe-input {
    width: 358px;
    margin-right: 12px;
  }
}

.subscribe-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10px;
  padding-right: 28px;
  padding-bottom: 10px;
  padding-left: 29px;
  height: 50px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border-radius: 4px;
  cursor: pointer;
}

.subscribe-btn-icon {
  margin-left: 10px;
}

.modal-form-textarea:not(:-moz-placeholder-shown) + .modal-form-label.textarea, .modal-form-input:not(:-moz-placeholder-shown) + .modal-form-label {
  top: -4px;
  left: 19px;
  transform: translateY(-100%);
  font-size: 12px;
  color: #2196f3;
}

.modal-form-textarea:not(:-ms-input-placeholder) + .modal-form-label.textarea, .modal-form-input:not(:-ms-input-placeholder) + .modal-form-label {
  top: -4px;
  left: 19px;
  transform: translateY(-100%);
  font-size: 12px;
  color: #2196f3;
}

.modal-form-textarea:not(:placeholder-shown) + .modal-form-label.textarea, .modal-form-textarea:focus + .modal-form-label.textarea, .modal-form-input:not(:placeholder-shown) + .modal-form-label, .modal-form-input:focus + .modal-form-label {
  top: -4px;
  left: 19px;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  font-size: 12px;
  color: #2196f3;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  opacity: 1;
  overflow-y: scroll;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.9);
          transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 3250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 3250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 3250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 3250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 3250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: calc(100% - 30px);
  height: 609px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.modal-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 40px;
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.close-btn-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.close-btn-icon:hover {
  fill: #2196f3;
}

.modal-form-title {
  margin-bottom: 30px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
}

.modal-form-input-wrapper,
.modal-form-textarea-wrapper {
  position: relative;
  display: block;
  margin-bottom: 28px;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  padding-top: 12px;
  padding-right: 42px;
  padding-bottom: 12px;
  padding-left: 42px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
}
@media screen and (min-width: 1200px) {
  .modal-form-input {
    width: 448px;
    height: 40px;
  }
}
.modal-form-input:focus {
  outline: none;
  border-color: #2196f3;
}

.modal-form-label {
  position: absolute;
  top: 50%;
  left: 42px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #757575;
  -webkit-transition: -webkit-transform 250ms linear;
  transition: -webkit-transform 250ms linear;
  transition: transform 250ms linear;
  transition: transform 250ms linear, -webkit-transform 250ms linear;
}
.modal-form-label.textarea {
  top: 12px;
  left: 19px;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.modal-form-textarea:not(:focus) + .modal-form-label.textarea {
  color: #757575;
}
.modal-form-input:not(:focus) + .modal-form-label {
  color: #757575;
}
.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 19px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.modal-form-input:focus ~ .modal-form-icon {
  fill: #2196f3;
}

.modal-form-textarea-wrapper {
  margin-bottom: 20px;
}

.modal-form-textarea {
  width: 100%;
  height: 120px;
  padding-top: 12px;
  padding-right: 16px;
  padding-bottom: 12px;
  padding-left: 12px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  resize: none;
}
@media screen and (min-width: 1200px) {
  .modal-form-textarea {
    width: 448px;
    height: 120px;
  }
}
.modal-form-textarea:focus {
  outline: none;
  border-color: #2196f3;
}

.modal-form-option-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .modal-form-option-wrapper {
    margin-left: 13px;
  }
}

.modal-form-checkbox {
  position: absolute;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.checkbox-icon {
  margin-right: 7px;
  width: 16px;
  height: 15px;
  border: 2px solid #000000;
  border-radius: 2px;
}
.modal-form-checkbox:checked + .checkbox-icon {
  border-color: transparent;
  background-color: #2196f3;
  background-image: url("../img/modal/icon-check.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.modal-form-option-span {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #757575;
}
@media screen and (min-width: 1200px) {
  .modal-form-option-span {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
}

.modal-form-option-link {
  color: #2196f3;
}

.modal-button {
  width: 200px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  padding: 10px 55px;
  text-align: center;
  cursor: pointer;
}

.hero {
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 118px;
  padding-bottom: 118px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../img/hero/mobile/hero-mobile.jpg");
  background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/hero/mobile/hero-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: rgba(47, 48, 58, 0.4);
  text-align: center;
}
@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../img/hero/mobile/hero-mobile@2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/hero/mobile/hero-mobile@2x.jpg");
  }
}
@media screen and (min-device-pixel-ratio: 3), screen and (-webkit-min-device-pixel-ratio: 3), screen and (min-resolution: 288dpi), screen and (min-resolution: 3dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../img/hero/mobile/hero-mobile@3x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/hero/mobile/hero-mobile@3x.jpg");
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../img/hero/tablet/hero-tablet.jpg");
    background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/hero/tablet/hero-tablet.jpg");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../img/hero/tablet/hero-tablet@2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/hero/tablet/hero-tablet@2x.jpg");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 3), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 3), screen and (min-width: 768px) and (min-resolution: 288dpi), screen and (min-width: 768px) and (min-resolution: 3dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../img/hero/tablet/hero-tablet@3x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/hero/tablet/hero-tablet@3x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    width: auto;
    max-width: 1600px;
    height: 600px;
    margin-top: 80px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../img/hero/desktop/hero-desktop.jpg");
    background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/hero/desktop/hero-desktop.jpg");
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../img/hero/desktop/hero-desktop@2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/hero/desktop/hero-desktop@2x.jpg");
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 3), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 3), screen and (min-width: 1200px) and (min-resolution: 288dpi), screen and (min-width: 1200px) and (min-resolution: 3dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../img/hero/desktop/hero-desktop@3x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/hero/desktop/hero-desktop@3x.jpg");
  }
}
.hero .button {
  min-width: 200px;
  height: 50px;
  border-radius: 4px;
  padding: 10px 32px;
  text-align: center;
  cursor: pointer;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  color: #ffffff;
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
}
@media screen and (min-width: 1200px) {
  .hero-title {
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
  }
}

.features {
  margin: 0 auto;
  padding-top: 60px;
}
@media screen and (max-width: 1199px) {
  .features {
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .features-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .features-list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

@media screen and (min-width: 768px) {
  .features-list-item {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .features-list-item {
    width: 270px;
  }
}
@media screen and (max-width: 767px) {
  .features-list-item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .features-list-item:not(:last-child) {
    margin-right: 30px;
  }
}
@media screen and (max-width: 1199px) {
  .features-list-item:not(:nth-last-child(-n+2)) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .features-list-item:not(:nth-child(2n)) {
    margin-right: 30px;
  }
}
.features-list-item .icon-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  height: 120px;
  background-color: #f5f4fa;
}
@media screen and (min-width: 768px) {
  .features-list-item .icon-box {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .features-list-item .icon-box {
    width: 270px;
  }
}
.features-list-item .subtitle {
  margin-top: 0;
  margin-bottom: 10px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
}
.features-list-item .description {
  margin-top: 0;
  margin-bottom: 0;
  color: #757575;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

@media screen and (max-width: 1199px) {
  .we-do {
    display: none;
  }
}

.we-do-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.we-do-list-item {
  position: relative;
}
.we-do-list-item:not(:last-child) {
  margin-right: 30px;
}
.we-do-list-item .image {
  display: block;
}

.we-do-list-item-title {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 0px;
  padding-top: 27px;
  padding-bottom: 27px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
}

.social-list-item-link:focus .link-icon, .social-list-item-link:hover {
  background-color: #2196f3;
  border-radius: 50%;
  fill: #ffffff;
}

.team {
  background-color: #f5f4fa;
}

.team-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (min-width: 768px) {
  .team-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.team-list-item {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 768px) {
  .team-list-item {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .team-list-item:not(:nth-last-child(-n+2)) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .team-list-item:not(:nth-last-child(-n+2)) {
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 768px) {
  .team-list-item:not(:nth-child(2n)) {
    margin-right: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .team-list-item:not(:nth-child(2n)) {
    margin-right: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .team-list-item:not(:last-child) {
    margin-right: 30px;
  }
}
.team-list-item .image {
  width: 100%;
  margin-bottom: 30px;
}
.team-list-item .name {
  margin-top: 0;
  margin-bottom: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
}
.team-list-item .position {
  margin-top: 0;
  margin-bottom: 16px;
  color: #757575;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 24px;
}
@media screen and (min-width: 1200px) {
  .social-list {
    margin-bottom: 30px;
  }
}

.social-list-item:not(:last-child) {
  margin-right: 10px;
}

.social-list-item-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  fill: #afb1b8;
  border-radius: 50%;
  -webkit-transition: background-color 250ms linear;
  transition: background-color 250ms linear;
}
.customers-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (min-width: 1200px) {
  .customers-list .customers-list-item:not(:last-child) {
    margin-right: 30px;
  }
}

@media screen and (max-width: 767px) {
  .customers-list-item {
    width: calc((100% - 30px) / 2);
  }
  .customers-list-item:not(:nth-last-child(-n+2)) {
    margin-bottom: 30px;
  }
  .customers-list-item:not(:nth-child(2n)) {
    margin-right: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .customers-list-item:not(:nth-last-child(-n+3)) {
    margin-bottom: 30px;
  }
  .customers-list-item:not(:nth-child(3n)) {
    margin-right: 30px;
  }
}

.customers-list-item-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
  -webkit-transition: fill 250ms linear, border 250ms linear;
  transition: fill 250ms linear, border 250ms linear;
}
@media screen and (min-width: 768px) {
  .customers-list-item-link {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .customers-list-item-link {
    width: 170px;
  }
}
.customers-list-item-link:hover, .customers-list-item-link:focus {
  fill: #2196f3;
  border: 1px solid #2196f3;
}

.filter {
  padding-top: 60px;
  padding-bottom: 25px;
  text-align: start;
}
@media screen and (min-width: 768px) {
  .filter {
    text-align: center;
    padding-bottom: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .filter {
    margin-top: 80px;
    padding-top: 94px;
    padding-bottom: 35px;
  }
}
.filter .button {
  margin-right: 8px;
  margin-bottom: 15px;
  padding: 6px 22px;
  border-radius: 4px;
  cursor: pointer;
}
.filter .button.secondary {
  background-color: #f5f4fa;
  color: #212121;
}

.display-none {
  display: none;
}

.work-examples {
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .work-examples {
    padding-bottom: 94px;
  }
}

.work-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 767px) {
  .work-list-item {
    width: 100%;
    margin: 10px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .work-list-item {
    width: 354px;
    margin: 7px;
  }
}
@media screen and (min-width: 1200px) {
  .work-list-item {
    width: 370px;
    margin: 10px;
  }
}
.work-list-item:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.work-list-item:hover .overlay {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}
.work-list-item:focus .overlay {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}
.work-list-item .card {
  padding-top: 20px;
  padding-left: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.work-list-link:hover .overlay {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}
.work-list-link:focus .overlay {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.work-list-img-wrapper {
  position: relative;
  overflow: hidden;
}

.work-list-img {
  display: block;
  width: 100%;
}
@media screen and (min-width: 767px) {
  .work-list-img {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .work-list-img {
    width: 370px;
  }
}

.overlay {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.work-list-description {
  padding: 24px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.work-list-title {
  margin-top: 0;
  margin-bottom: 4px;
  color: #212121;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.work-list-card-description {
  margin-top: 0;
  color: #757575;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 2;
  letter-spacing: 0.03em;
}/*# sourceMappingURL=main.css.map */