.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: #2f303a;

  .container {
    display: flex;
    justify-content: space-between;
  }

  .logo {
    margin-bottom: 20px;

    color: $logo-light-color;
  }
}

.footer-column-first {
  margin-right: 70px;
}

.contacts-address {
  display: inline-block;

  margin-bottom: 9px;

  color: $white-text-color;

  &:hover,
  &:focus {
    color: $accent-text-color;
  }
}

.contacts-mail {
  display: inline-block;
  color: $primary-text-color;

  margin-bottom: 9px;

  &:hover,
  &:focus {
    color: $accent-text-color;
  }
}

.contacts-tel {
  display: inline-block;
  color: $primary-text-color;

  &:hover,
  &:focus {
    color: $accent-text-color;
  }
}

.footer-column-second {
  padding-top: 12px;
  margin-right: 93px;
}

.footer-title {
  display: block;

  margin-bottom: 20px;

  color: $white-text-color;

  @include font(normal, 700, 14px, 1.14, 0.03em);
  text-transform: uppercase;
}

.footer-list {
  display: flex;
}

.footer-list-item:not(:last-child) {
  margin-right: 10px;
}

.footer-list-item-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;

  fill: $white-text-color;

  border-radius: 50%;

  background-color: rgba(255, 255, 255, 0.1);

  transition: background-color 250ms linear;

  &:hover,
  &:focus {
    background-color: $accent-color;
  }
}
