html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: $primary-background-color;
  color: $secondary-text-color;

  font-family: $main-font;
}

h1,
h2,
h3,
p {
  margin: 0;
}

.logo {
  display: block;

  color: $logo-black-color;

  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.title {
  /*From section: WHAT WE DO, OUR TEAM, REGULAR CUSTOMERS */
  margin-top: 0;
  margin-bottom: 50px;

  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;

  @media screen and (max-width: 1199px) {
    margin-bottom: 30px;
  }
}

.link {
  text-decoration: none; /* Removing the underline form a link */
}

.list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;

  list-style: none;
}

.container {
  position: relative;

  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  @media screen and (min-width: $mobile) {
    width: $mobile;
  }

  @media screen and (min-width: $tablet) {
    width: $tablet;
  }

  @media screen and (min-width: $desktop) {
    width: $desktop;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: $desktop) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.button {
  &.primary {
    background-color: $accent-color;
    color: $white-text-color;

    font-family: inherit;

    border: 1px solid transparent;
  }
  &.secondary {
    background-color: $primary-background-color;

    color: $accent-color;
    font-family: inherit;

    border: 1px solid transparent;
  }
}

body.modal-open {
  overflow: hidden;
}
