<footer id="contacts">
  <a href="#header"><span>Web</span> Studio</a>
  <address>
    г. Киев, пр-т Леси Украинки, 26 <br />
    <a href="mailto:info@example.com">info@example.com</a><br />
    <a href="tel:+380991111111">+38 099 111 11 11</a>
  </address>
  <div>
    <b>присоединяйтесь</b>
    <ul>
      <li>
        <a
          href="https://www.instagram.com"
          aria-label="ссылка на instagram"
          target="_blank"
          >instagram</a
        >
      </li>
      <li>
        <a
          href="https://twitter.com"
          aria-label="ссылка на twitter"
          target="_blank"
          >twitter</a
        >
      </li>
      <li>
        <a
          href="https://www.facebook.com"
          aria-label="ссылка на facebook"
          target="_blank"
          >facebook</a
        >
      </li>
      <li>
        <a
          href="https://www.linkedin.com"
          aria-label="ссылка на linkedin"
          target="_blank"
          >linkedin</a
        >
      </li>
    </ul>
  </div>
</footer>
