<section>
  <h2>Наша команда</h2>
  <ul>
    <li>
      <img
        src="images/our-team/igor-demyanenko.jpg"
        alt="фото Игоря Демьяненко"
        width="270"
        height="260"
      />
      <h3>Игорь Демьяненко</h3>
      <p>Product Designer</p>
      <ul>
        <li>
          <a
            href="https://www.instagram.com"
            aria-label="ссылка на instagram"
            target="_blank"
            >instagram</a
          >
        </li>
        <li>
          <a
            href="https://twitter.com"
            aria-label="ссылка на twitter"
            target="_blank"
            >twitter</a
          >
        </li>
        <li>
          <a
            href="https://www.facebook.com"
            aria-label="ссылка на facebook"
            target="_blank"
            >facebook</a
          >
        </li>
        <li>
          <a
            href="https://www.linkedin.com"
            aria-label="ссылка на linkedin"
            target="_blank"
            >linkedin</a
          >
        </li>
      </ul>
    </li>
    <li>
      <img
        src="images/our-team/olga-repina.jpg"
        alt="фото Ольги Репиной"
        width="270"
        height="260"
      />
      <h3>Ольга Репина</h3>
      <p>Frontend Developer</p>
      <ul>
        <li>
          <a
            href="https://www.instagram.com"
            aria-label="ссылка на instagram"
            target="_blank"
            >instagram</a
          >
        </li>
        <li>
          <a
            href="https://twitter.com"
            aria-label="ссылка на twitter"
            target="_blank"
            >twitter</a
          >
        </li>
        <li>
          <a
            href="https://www.facebook.com"
            aria-label="ссылка на facebook"
            target="_blank"
            >facebook</a
          >
        </li>
        <li>
          <a
            href="https://www.linkedin.com"
            aria-label="ссылка на linkedin"
            target="_blank"
            >linkedin</a
          >
        </li>
      </ul>
    </li>
    <li>
      <img
        src="images/our-team/nikolai-tarasov.jpg"
        alt="фото Николая Тарасова"
        width="270"
        height="260"
      />
      <h3>Николай Тарасов</h3>
      <p>Marketing</p>
      <ul>
        <li>
          <a
            href="https://www.instagram.com"
            aria-label="ссылка на instagram"
            target="_blank"
            >instagram</a
          >
        </li>
        <li>
          <a
            href="https://twitter.com"
            aria-label="ссылка на twitter"
            target="_blank"
            >twitter</a
          >
        </li>
        <li>
          <a
            href="https://www.facebook.com"
            aria-label="ссылка на facebook"
            target="_blank"
            >facebook</a
          >
        </li>
        <li>
          <a
            href="https://www.linkedin.com"
            aria-label="ссылка на linkedin"
            target="_blank"
            >linkedin</a
          >
        </li>
      </ul>
    </li>
    <li>
      <img
        src="images/our-team/mehail-ermakov.jpg"
        alt="фото Михаила Ермакова"
        width="270"
        height="260"
      />
      <h3>Михаил Ермаков</h3>
      <p>UI Designer</p>
      <ul>
        <li>
          <a
            href="https://www.instagram.com"
            aria-label="ссылка на instagram"
            target="_blank"
            >instagram</a
          >
        </li>
        <li>
          <a
            href="https://twitter.com"
            aria-label="ссылка на twitter"
            target="_blank"
            >twitter</a
          >
        </li>
        <li>
          <a
            href="https://www.facebook.com"
            aria-label="ссылка на facebook"
            target="_blank"
            >facebook</a
          >
        </li>
        <li>
          <a
            href="https://www.linkedin.com"
            aria-label="ссылка на linkedin"
            target="_blank"
            >linkedin</a
          >
        </li>
      </ul>
    </li>
  </ul>
</section>
