<section id="portfolio">
  <h2>Портфолио</h2>
  <div>
    <button>Все</button>
    <button>Веб-сайты</button>
    <button>Приложения</button>
    <button>Дизайн</button>
    <button>Маркетинг</button>
  </div>
  <ul>
    <li>
      <img
        src="images/portfolio/img-01.jpg"
        alt="Веб-сайт Технокряк"
        width="370"
        height="294"
      />
      <h3>Технокряк</h3>
      <p>Веб-сайт</p>
    </li>
    <li>
      <img
        src="images/portfolio/img-02.jpg"
        alt="Постер New Orlean vs Golden Star"
        width="370"
        height="294"
      />
      <h3>Постер New Orlean vs Golden Star</h3>
      <p>Дизайн</p>
    </li>
    <li>
      <img
        src="images/portfolio/img-03.jpg"
        alt="Ресторан Seafood"
        width="370"
        height="294"
      />
      <h3>Ресторан Seafood</h3>
      <p>Приложение</p>
    </li>
    <li>
      <img
        src="images/portfolio/img-04.jpg"
        alt="Проект Prime"
        width="370"
        height="294"
      />
      <h3>Проект Prime</h3>
      <p>Маркетинг</p>
    </li>
    <li>
      <img
        src="images/portfolio/img-05.jpg"
        alt="Проект Boxes"
        width="370"
        height="294"
      />
      <h3>Проект Boxes</h3>
      <p>Приложение</p>
    </li>
    <li>
      <img
        src="images/portfolio/img-06.jpg"
        alt="Веб-сайт Inspiration has no Borders"
        width="370"
        height="294"
      />
      <h3>Inspiration has no Borders</h3>
      <p>Веб-сайт</p>
    </li>
    <li>
      <img
        src="images/portfolio/img-07.jpg"
        alt="Издание Limited Edition"
        width="370"
        height="294"
      />
      <h3>Издание Limited Edition</h3>
      <p>Дизайн</p>
    </li>
    <li>
      <img
        src="images/portfolio/img-08.jpg"
        alt="Проект LAB"
        width="370"
        height="294"
      />
      <h3>Проект LAB</h3>
      <p>Маркетинг</p>
    </li>
    <li>
      <img
        src="images/portfolio/img-09.jpg"
        alt="Приложение Growing Business"
        width="370"
        height="294"
      />
      <h3>Growing Business</h3>
      <p>Приложение</p>
    </li>
  </ul>
</section>
