<section>
    <h2>Постоянные клиенты</h2>
    <ul>
      <li>
        <a href="" aria-label="ссылка на ya & co">ya & co</a>
      </li>
      <li>
        <a href="" aria-label="ссылка на company tagline here"
          >company tagline here</a
        >
      </li>
      <li>
        <a href="" aria-label="ссылка на company">company</a>
      </li>
      <li>
        <a href="" aria-label="ссылка на foster peters">foster peters</a>
      </li>
      <li>
        <a href="" aria-label="ссылка на brand">brand icon</a>
      </li>
      <li>
        <a href="" aria-label="ссылка на company tagline"
          >company tagline</a
        >
      </li>
    </ul>
  </section>