<section>
  <h2>Чем мы занимаемся</h2>
  <ul>
    <li>
      <img
        src="images/what-we-do/box-1.jpg"
        alt="фото box-1"
        width="370"
        height="294"
      />
    </li>
    <li>
      <img
        src="images/what-we-do/box-2.jpg"
        alt="фото box-2"
        width="370"
        height="294"
      />
    </li>
    <li>
      <img
        src="images/what-we-do/box-3.jpg"
        alt="фото box-3"
        width="370"
        height="294"
      />
    </li>
  </ul>
</section>
