@mixin button($background-color, $color) {
  background-color: $background-color;
  color: $color;

  font-family: inherit;

  border: 1px solid transparent;
}

@mixin font(
  $font-style,
  $font-weight,
  $font-size,
  $line-height,
  $letter-spacing
) {
  font-style: $font-style;
  font-weight: $font-weight;
  font-size: $font-size;
  line-height: $line-height;
  letter-spacing: $letter-spacing;
}
