$main-font: "Roboto", sans-serif;
$secondary-font: "Raleway", sans-serif;

$primary-text-color: #757575;
$secondary-text-color: #212121;
$accent-text-color: #2196f3;
$white-text-color: #ffffff;

$accent-color: #2196f3;

$logo-black-color: #000000;
$logo-light-color: #ffffff;

$primary-background-color: #ffffff;
$secondary-background-color: #f5f4fa;

$white-fill-color: #ffffff;
$grey-fill-color: #afb1b8;

$grey-border-color: #afb1b8;
